<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="lbcDbConnection-1" connectionString="data source=Win-Server01;initial catalog=lbc_developer;persist security info=True;user id=sa;password=Tracker05;multipleactiveresultsets=True" providerName="System.Data.SqlClient" /><add name="lbcDbConnection" connectionString="data source=204.51.98.176;initial catalog=lbc_developer;persist security info=True;user id=lbc_developer;password=Tracker05;multipleactiveresultsets=True" providerName="System.Data.SqlClient" /><add name="AC_ManagementConnection" connectionString="data source=204.51.98.176;initial catalog=AC_Management;persist security info=True;user id=sa;password=LbWv09" providerName="System.Data.SqlClient" /></connectionStrings>
</configuration>