<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="LBC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="lbcDbConnection-l" connectionString="data source=Win-Server01;initial catalog=lbc_developer;persist security info=True;user id=sa;password=Tracker05;multipleactiveresultsets=True" providerName="System.Data.SqlClient" />
    <add name="lbcDbConnection" connectionString="data source=204.51.98.176;initial catalog=lbc_developer;persist security info=True;user id=lbc_developer;password=Tracker05;multipleactiveresultsets=True" providerName="System.Data.SqlClient" />
    <add name="acConnectionString" connectionString="data source=204.51.98.176;initial catalog=AC_Management;persist security info=True;user id=ac_admin;password=LbWv09" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <userSettings>
    <LBC.Properties.Settings>
      <setting name="DistrictCode" serializeAs="String">
        <value />
      </setting>
    </LBC.Properties.Settings>
  </userSettings>
</configuration>