<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="acConnectionString" connectionString="data source=204.51.98.176;initial catalog=AC_Management;persist security info=True;user id=ac_admin;password=LbWv09" providerName="System.Data.SqlClient" /><add name="AC_ManagementConnection" connectionString="data source=204.51.98.176;initial catalog=AC_Management;persist security info=True;user id=sa;password=LbWv09" providerName="System.Data.SqlClient" /></connectionStrings>
</configuration>