<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="lbcDbConnection" connectionString="data source=win-server01;initial catalog=lbc_developer;persist security info=True;user id=sa;password=Tracker05;multipleactiveresultsets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>